*{
    box-sizing:border-box;
}
body{
    background-color:rgb(178, 192, 192);
    display:flex;
    flex-direction:column;
    justify-content:center;
    min-height:900px;
    min-width:1400px;
}
.outside{
    display:flex;
    justify-content:center;
    align-items:center;
}
.container{
    min-height:400px;
    width:80%;
    display:flex;
    align-items: center;
    justify-content:center;
    border-radius:15px;
    box-shadow:0 5px 10px rgb(201, 199, 199); 
    background-color:#fff;
}
.cabinet{
    width:50%;
    border-radius:15px;
    height:100%;
}
.text{
    width:50%;
    margin:0 5%;
}
.account{
    display:flex;
    align-items:center;
    justify-content: space-evenly;
}
.face{
    width:20%;
    height:20%;
    border-radius:100%;
    margin-right:5%;
}
.hidden-menu{
    position:relative;
    padding:0;
}
.share-icon{
    cursor:pointer;
    width:30px;
}
.menu {
    opacity: 0;
    display:none;
}
.menu p{
    padding:0;
    margin:0;
    font-size:20px;
}
.menu img{
    width:30px;
}

.menu.active {
    opacity: 1;
    display:block;
    z-index:10;
    position: absolute;
    top: -80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    background: #c9c9fd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding:15px;
}
.menutwo{
    display:none;
}


@media(max-width:768px){
    body{
        min-width:100%;
    }
    .container{
        flex-direction:column;
    }
    .cabinet{
        width:100%;
        height:40%;
    } 
    
    .text h1{
        font-size:25px;
    }  
    .text{
        width:80%;
        height:60%;
        padding:5% 0;
    }
    .account.active{
        background-color:#c9c9fd;
        display:flex;
        justify-content:space-around;
        align-items:center;
    }
    .face.active {
        display:none;
    }
    .profile.active{
        display:none;
        width:0%;
    }
    .menutwo.active{
        display:flex;
        justify-content: space-around;
        align-items: center;
        gap:15px;
    }
    .account.active{
        background-color:#c9c9fd;
    }
    .menu.active{
        display:none; 
    }
    .share-icon{
        width:20px;
    }
    .text h1{
        font-size:20px;
    }
    
}
